@model Sistema_Referidos.Models.Table

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Table</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.TableState)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableState)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableDescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableDescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TableDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TableDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TablePoints)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TablePoints)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdTable }) |
    @Html.ActionLink("Back to List", "Index")
</p>
